
.mainbody{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    place-content: center;
    flex-direction: column;
}

.card{
    display: flex;
    margin-top: 35px;
    width: auto;
    border-color: navy;
    border-width: thick;
    flex-wrap: wrap;
    flex-direction: row;
}

#comment{
    margin-top: 12px;
    width: 150px;
}

#newappt{
    margin-top: 12px;
    width: 184px;

}

.container{
    margin-left: -13px;
}



/* just added */

.breadcrumb-bar {
	background-color: #15558d;
	padding: 15px 0;
}

.breadcrumb-bar .breadcrumb-title {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	margin: 5px 0 0;
}

.page-breadcrumb ol {
	background-color: transparent;
	font-size: 12px;
	margin-bottom: 0;
	padding: 0;
}

.page-breadcrumb ol li a {
	color: #fff;
}

.page-breadcrumb ol li.active {
	color: #fff;
}

.page-breadcrumb .breadcrumb-item+.breadcrumb-item:before {
	color: #fff;
	font-size: 10px;
}