body{
    background-image: url(https://img.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_23-2148854064.jpg?w=1060&t=st=1687833341~exp=1687833941~hmac=2ce044ad886bcbd9e1c4c47aa9597fc31dfe19f41c648c73fa34a61bd09237ba);
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main{
    display: flex;
}

#main{
    display: flex;
}

.profile-image{
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
}


#logoplus {
    height: 259px;
    position:relative;
    margin-top: 414px;
    margin-left: -766px;
    z-index: 2;
   
transform: scale(1);
animation: pulse 2s infinite;
}


@keyframes pulse {
0% {
    transform: scale(.95);
    z-index: 2;
}

70% {
    transform: scale(1.1);
    z-index: 2;
    
}

100% {
    transform: scale(.95);
 z-index: 2;
}
}

.custom-field::after{
    content:attr(aria-label);
}